.page-header {
    background-image: url(MAFCAFWaterTower6-12-12.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 70px;
}

.navbar {
    background: none;
    text-decoration: black;
    text-transform: uppercase;
    color: black;
}

#poster {
    align-content: center;
    height: auto;
    width: auto;
    padding-left: 25%;
    padding-right: 25%;
    
}

p {
    padding-bottom: 10px;
    padding-top: 10px;
    letter-spacing: 2px;
    font-weight: bolder;

}

body {
    font-family: 'Nunito Sans', sans-serif;
}


